.bg-navbar {
    background-color: #F7F7F7;
}

.bg-main {
    background-color: #efefef;
}

.row-cols-7>* {
    -ms-flex:0 0 14.2857132%;
    flex:0 0 14.2857132%;
    max-width:14.2857132%;
}

.h-200 {
    height:200% !important;
}

.dropdown-menu {
    z-index: 1021;
}

ul {
    list-style-type: none;
    padding: 0;
}

.habitIcon {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
}

.radio-label {
    display: block;
}

#personalised {
    visibility: hidden;
}

/* .icon-radio input {
    opacity: 0;
    position: absolute;
    cursor: pointer;
}

.icon-radio label {
    float: left;
    margin-right: 10px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.icon-radio:hover span ~ label {
    background-color: black;
}

.icon-radio input:checked .icon-radio > label {
    background-color: aqua;
} */

.task-bar {
    padding: 5px;
}

.task-wrapper {
    margin-right: 5px;
    margin-bottom: 5px;
}

.sidebar {
    display: grid;
    row-gap: 1rem;
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
    min-height: 0;
    min-width: 0;
}

.sidebar-item {
    overflow: auto;
    min-width: 0;
    min-height: 0;
}

.sidebar-top {
    padding-top: 1rem;
}

.sidebar-item ul {
    padding-left: 1rem;
    padding-top: .5rem;
}

.sidebar-link {
    position: sticky;
    bottom: 0;
    padding: .25rem;
}