{% extends "calendars/base.html" %}
{% load calendars_filters %}
{% load widget_tweaks %}

{% block content %}
<div class="col-9 ml-3 px-0 overflow-auto d-flex justify-content-center">
    <div class="col-6 p-3 border h-50">
    <h4 class="border-bottom mb-3">Reset password</h4>
    <form method="post" action="">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group {% if field.errors %} invalid {% endif %}">
                <label for="{{ field.id_for_label }}">
                    {{ field.label }}
                    {% if field.field.required %}<span class="required">*</span>{% endif %}
                </label>
                {% render_field field class="form-control" %}
                {% for error in field.errors %}
                    <p class="help-block text-danger">{{ error }}</p>
                {% endfor %}
                {% if field.field.help_text %}
                    <div class="text-muted small">{{ field.field.help_text|safe }}</div>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="submit-btn btn btn-primary">
            Reset password
        </button>
    </form>
    </div>
</div>
{% endblock content %}