{% extends 'calendars/baseModal.html' %}

{% block formBeginning %}
    <form method="post" action="">
        {% csrf_token %}
{% endblock %}

{% block modalTitle %}
    Confirm unlocked reward done
{% endblock %}

{% block modalBody %}
    <p>Are you sure you want to complete the action? Clicking "confirm" deletes your unlocked reward.</p>
{% endblock %}

{% block footerButton %}
    <button type="submit" class="btn btn-danger">
        Confirm
    </button>
{% endblock %}

{% block formEnd %}
    </form>
{% endblock %}