{% extends "calendars/base.html" %}
{% load calendars_filters %}

{% block calendarNavigation %}
<div class="nav-item navbar-text mr-4">
    <a href="{% url 'calendars-day' prevDay.year prevDay.month prevDay.day %}" class="text-decoration-none">
        <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-caret-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M10 12.796L4.519 8 10 3.204v9.592zm-.659.753l-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753z"/>
        </svg>
    </a>
    {{ today }}
    <a href="{% url 'calendars-day' nextDay.year nextDay.month nextDay.day %}" class="text-decoration-none">
        <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-caret-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/>
        </svg>
    </a>
</div>
{% endblock %}

{% block dayDropdown %}
active
{% endblock %}

{% block content %}
<div class="col-9 bg-main mx-3 overflow-auto">
    <div class="row sticky-top task-bar bg-main">
        {% for task in dailyTasks %}
            <button 
                class="task-wrapper btn {% if task.completed %}btn-outline-secondary{% else %}btn-secondary{% endif %} btn-sm modal-trigger" 
                data-form-url="{% url 'task-detail' task.pk %}?next={{ request.path }}">
                {% if task.completed %}<s>{% endif %}{{ task }}{% if task.completed %}</s>{% endif %}
            </a>
        {% endfor %}
    </div>
    <div class="row h-100 row-cols-1">
        {% for x in 0|range:24 %}
            <div class="col border">
                {{ x|hour }}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}