{% extends "calendars/base.html" %}
{% load calendars_filters %}

{% block calendarNavigation %}
<div class="nav-item navbar-text mr-4">
    <a href="{% url 'calendars-day' prevDay.year prevDay.month prevDay.day %}" class="text-decoration-none">
        <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-caret-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M10 12.796L4.519 8 10 3.204v9.592zm-.659.753l-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753z"/>
        </svg>
    </a>
    {{ today }}
    <a href="{% url 'calendars-day' nextDay.year nextDay.month nextDay.day %}" class="text-decoration-none">
        <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-caret-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/>
        </svg>
    </a>
</div>
{% endblock %}

{% block dayDropdown %}
active
{% endblock %}

{% block content %}
<div class="col-9 bg-main px-0 ml-3 h-100 overflow-auto">
    <div class="sticky-top px-3">
        <div class="row bg-main task-bar">
            <div class="col text-center small">
                {{ today }}
            </div>
        </div>
        <div class="row task-bar bg-main">
            {% for task in dailyTasks %}
                <button 
                    class="task-wrapper btn {% if task.completed %}btn-outline-secondary{% else %}btn-secondary{% endif %} btn-sm modal-trigger" 
                    data-form-url="{% url 'task-detail' task.pk %}?next={{ request.path }}">
                    {% if task.completed %}<s>{% endif %}{{ task }}{% if task.completed %}</s>{% endif %}
                </button>
            {% endfor %}
        </div>
    </div>
    <div class="day-grid h-200">
        {% for x in 0|range:24 %}
            <div class="day-item border d-flex align-items-end flex-column">
                {% comment %} {% for event in dailyEvents %}
                {% if x == event %}
                <button 
                    class="task-wrapper btn btn-secondary btn-sm modal-trigger" 
                    data-form-url="{% url 'event-detail' event.pk %}?next={{ request.path }}">
                    {{ event }}
                </button>
                {% endfor %} {% endcomment %}
                <div class="mt-auto mr-auto small">{{ x|hour }}</div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}