{% extends 'calendars/baseModal.html' %}
{% load calendars_filters %}

{% block modalTitle %}
    {{ event.name }} {% if now|currentlyHappening:event.startDate %}- Currently happening!{% endif %}
{% endblock %}

{% block modalBody %}
    <div>
        <span class="font-weight-bolder">Name:</span> {{ event.name }}
    </div>
    <div>
        <span class="font-weight-bolder">Description:</span> {{ event.description }}
    </div>
    <div>
        <span class="font-weight-bolder">Location:</span> {{ event.location }}
    </div>
    <div>
        <span class="font-weight-bolder">Start date:</span> {{ event.startDate }}
    </div>
    <div>
        <span class="font-weight-bolder">End date:</span> {{ event.endDate }}
    </div>
{% endblock %}

{% block footerButton %}
    <button type="button" class="btn btn-success in-modal-trigger" data-form-url="{% url 'event-update' event.pk %}?next={{ next }}">
        Update
    </button>
    <button type="button"  class="btn btn-danger in-modal-trigger" data-form-url="{% url 'event-delete' event.pk %}?next={{ next }}">
        Delete
    </button>
{% endblock %}