{% extends 'calendars/base.html' %}
{% load calendars_filters %}

{% block content %}
<div class="col-9 h-100 bg-main mx-3 overflow-auto">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Frequency</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for habit in habits %}
                <tr>
                    <td><div style="background-color: {{ habit.iconColor }}" class="habitIcon"></div></td>
                    <td>{{ habit.name }} </td>
                    <td>{{ habit.description }}</td>
                    <td>
                        {{ habit.frequency }}
                    </td>
                    <td>
                        <button type="button" class="modal-trigger btn btn-outline-primary btn-sm" data-form-url="{% url 'habit-detail' habit.pk %}?next={{ request.path }}">
                            Detail
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}