{% extends 'calendars/baseModal.html' %}
{% load calendars_filters %}

{% block modalTitle %}
   <div style="background-color: {{ habit.iconColor }}" class="habitIcon"></div> 
   {{ habit.name }}{% if habit|habitCompletedToday:today %} - Done today!{% endif %}
{% endblock %}

{% block modalBody %}
    <div>
        <span class="font-weight-bolder">Name:</span> {{ habit.name }}
    </div>
    <div>
        <span class="font-weight-bolder">Description:</span> {{ habit.description }}
    </div>
    <div>
        <span class="font-weight-bolder">Frequency:</span> {{ habit.frequency }}
    </div>
    <button type="button" class="btn btn-success in-modal-trigger" data-form-url="{% url 'complete-previous-habit' %}?next={{ next }}&habit={{ habit.pk }}">
        Update
    </button>
    {% comment %} <small>
        (Wish to add additional dates? 
            <a class="in-modal-trigger" href="#" data-form-url="{% url 'complete-previous-habit' %}?next={{ next }}?habit={{ habit.pk }}">
                Click here.
            </a>
        )
    </small> {% endcomment %}
{% endblock %}

{% block footerButton %}
    <button type="button" class="btn btn-success in-modal-trigger" data-form-url="{% url 'habit-update' habit.pk %}?next={{ next }}">
        Update
    </button>
    <button type="button" class="btn btn-danger in-modal-trigger" data-form-url="{% url 'habit-delete' habit.pk %}?next={{ next }}">
        Delete
    </button>
{% endblock %}

{% block additionalFooterButton %}
    {% if habit|canBeCompletedToday:today %}
        <a role="button" class="btn btn-primary" href="{% url 'toggle-complete-habit' habit.pk %}?next={{ next }}">
            {% if habit|habitCompletedToday:today %}
                Not done? Set to incomplete
            {% else %}
                Complete task
            {% endif %}
        </a>
    {% endif %}
{% endblock %}