{% extends "calendars/base.html" %}

{% block calendarNavigation %}
<div class="nav-item navbar-text mr-4">
    <a href="{% url 'calendars-month' prevMonth.year prevMonth.month %}" class="text-decoration-none">
        <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-caret-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M10 12.796L4.519 8 10 3.204v9.592zm-.659.753l-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753z"/>
        </svg>
    </a>
    {{ month }} {{ year }}
    <a href="{% url 'calendars-month' nextMonth.year nextMonth.month %}" class="text-decoration-none">
        <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-caret-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/>
        </svg>
    </a>
</div>
{% endblock %}

{% block monthDropdown %}
active
{% endblock %}

{% block content %}
<div class="col-9 bg-main ml-3 px-0 h-100">
    <div class="month-grid h-100">
        {% for day in monthList %}
            <div class="month-item border p-1">
                <h6 class="text-center">
                    {% if forloop.counter <= 7 %}
                        {{ day.day|date:"D, j" }}
                    {% else %}
                        {{ day.day|date:"j" }}
                    {% endif %}
                </h6>
                {% for task in day.taskList %}
                    <button 
                        class="task-wrapper btn px-1 py-0 {% if task.completed %}btn-outline-secondary{% else %}btn-secondary{% endif %} btn-sm modal-trigger" 
                        data-form-url="{% url 'task-detail' task.pk %}?next={{ request.path }}">
                        {% if task.completed %}<s>{% endif %}{{ task }}{% if task.completed %}</s>{% endif %}
                    </button>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    {% comment %} <div class="row h-100 row-cols-7">
        {% for day in monthList %}
            <div class="col border overflow-auto">
                <h6 class="text-center">
                    {% if forloop.counter <= 7 %}
                        {{ day.day|date:"D, j" }}
                    {% else %}
                        {{ day.day|date:"j" }}
                    {% endif %}
                </h6>
                {% for task in day.taskList %}
                    <button 
                        class="task-wrapper btn {% if task.completed %}btn-outline-secondary{% else %}btn-secondary{% endif %} btn-sm modal-trigger" 
                        data-form-url="{% url 'task-detail' task.pk %}?next={{ request.path }}">
                        {% if task.completed %}<s>{% endif %}{{ task }}{% if task.completed %}</s>{% endif %}
                    </button>
                {% endfor %}
            </div>
        {% endfor %}
    </div> {% endcomment %}
</div>
{% endblock content %}