{% extends "calendars/base.html" %}
{% block content %}
    <div class="row h-100 row-cols-7">
        {% for day in month %}
            <div class="col border">
                <h6 class="text-center">
                    {% if forloop.counter <= 7 %}
                        {{ day|date:"D, j" }}
                    {% else %}
                        {{ day|date:"j" }}
                    {% endif %}
                </h6>
            </div>
        {% endfor %}
    </div>
{% endblock content %}