{% extends 'calendars/baseModal.html' %}

{% block modalTitle %}
    {{ task.name }}
{% endblock %}

{% block modalBody %}
    <div>
        <span class="font-weight-bolder">Name:</span> {{ task.name }}
    </div>
    <div>
        <span class="font-weight-bolder">Description:</span> {{ task.description }}
    </div>
    <div>
        <span class="font-weight-bolder">Date:</span> {{ task.date }}
    </div>
{% endblock %}

{% block footerButton %}
    <button type="button" id="update-task" class="btn btn-success" data-form-url="{% url 'task-update' task.pk %}?next={{ next }}">
        Update
    </button>
    <button type="button" id="delete-task" class="btn btn-danger" data-form-url="{% url 'task-delete' task.pk %}?next={{ next }}">
        Delete
    </button>
{% endblock %}