{% extends 'calendars/baseModal.html' %}

{% block modalTitle %}
    {{ task.name }} {% if task.completed %}- Done!{% endif %}
{% endblock %}

{% block modalBody %}
    <div>
        <span class="font-weight-bolder">Name:</span> {{ task.name }}
    </div>
    <div>
        <span class="font-weight-bolder">Description:</span> {{ task.description }}
    </div>
    <div>
        <span class="font-weight-bolder">Date:</span> {{ task.date }}
    </div>
    <div>
        <span class="font-weight-bolder">Completed?</span> {% if task.completed %}Yes{% else %}No{% endif %}
    </div>
{% endblock %}

{% block footerButton %}
    <button type="button" id="update-task" class="btn btn-success" data-form-url="{% url 'task-update' task.pk %}?next={{ next }}">
        Update
    </button>
    <button type="button" id="delete-task" class="btn btn-danger" data-form-url="{% url 'task-delete' task.pk %}?next={{ next }}">
        Delete
    </button>
{% endblock %}

{% block additionalFooterButton %}
    <a role="button" id="toggle-complete-task" class="btn btn-primary" href="{% url 'toggle-complete-task' task.pk %}?next={{ next }}">
        {% if task.completed %}Not done? Set to incomplete{% else %}Complete task{% endif %}
    </a>
{% endblock %}